name: Java CI with Gradle

on:
  push:
    branches: [ '1.16' ]
  pull_request:
    branches: [ '1.16' ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew build
    - uses: actions/upload-artifact@v2
      with:
        name: ForgeHax
        path: build/libs/ForgeHax*.jar
